@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'BaltoBook';
  src: url('../fonts/balto/baltoweb-book.eot');
  src: url('../fonts/balto/baltoweb-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookItalic';
  src: url('../fonts/balto/baltoweb-bookitalic.eot');
  src: url('../fonts/balto/baltoweb-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookMedium';
  src: url('../fonts/balto/baltoweb-medium.eot');
  src: url('../fonts/balto/baltoweb-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookBold';
  src: url('../fonts/balto/baltoweb-bold.eot');
  src: url('../fonts/balto/baltoweb-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* apply a natural box layout model to all elements, but allowing components to change
(Box Model, http://www.paulirish.com/2012/box-sizing-border-box-ftw/)*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html, .main, .sidebar {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-family: 'BaltoBook', sans-serif;
}

.logo {
  margin-left: 50px;
  width: 93px;
  height: 100px;
  z-index: 25;
  position: absolute;
  background-color: #FF6347;
  padding-top: 60px;
  padding-left: 13px;
}

.logo-text {
  font-family: 'BaltoBookBold', sans-serif;
  color: #000000;
  font-size: 30px;
}

.logo-img {
  margin-top: 10
}

.search{
 position: absolute;
 right: 130px;
 margin: 0px;
 z-index:25; /*zodat button zichtbaar blijft wanneer menu open is.
 Z-index werkt alleen in combi met een 'positioned element'!!!*/
 cursor: pointer;
}

.searchbox{
 position:absolute;
 height:50px;
 width:100%;
 float:right;
}

.searchbox-submit, .searchbox-icon {
  float:right;
}
.searchbox-input{
 position:absolute;
 top:0;
 right:0;
 /*styling nodig om default styleing van form-element aan te passen*/
 border:0; /*zorgt ervoor dat border weg is*/
 outline:0; /*haalt blauwe lijn weg rond zoekveld*/
 background:#DCDCDC;
 width:100%;
 height:50px;
 margin:0;
 padding-left:20px;
 font-size:20px;
 color:#000000;
 overflow: visible; /*zorgt ervoor dat volledig veld wordt weergegeven. Evt later nog aanpassen*/
}

.searchbox-input::-webkit-input-placeholder {
 color: #696969;
}

.searchbox-input:-moz-placeholder {
 color: #696969;
}

.searchbox-input::-moz-placeholder {
 color: #696969;
}

.searchbox-input::-ms-input-placeholder {
 color: #696969;
}

 .searchbox-icon,
 .searchbox-submit{
  width:50px;
  height:50px;
  display:block;
  position:absolute ;
  top:0;
  font-family:'BaltoBookMedium', sans-serif;;
  font-size:22px;
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  line-height:50px;
  text-align:center;
  cursor:pointer;
  background:#000000;
 }
.searchbox-icon img {
  padding-top: 25%;
}

 .searchbox {
 position:relative;
 min-width:50px;
 width:0%; /*zorgt ervoor dat input field hidden is wanneer zoek niet actief is*/
 height:50px;
 float:right;
 overflow:hidden;
 -webkit-transition: width 0.3s;
 -moz-transition: width 0.3s;
 -ms-transition: width 0.3s;
 -o-transition: width 0.3s;
 transition: width 0.3s;
}

.searchbox-open{ /*niet in html, komt terug in jQuery via addClass, zorgt ervoor dat input field zichtbaar is*/
 width:100%;
}

.menu {
  position: absolute;
  right: 0px; /*right plaats label rechts, left plaats label links*/
  z-index: 25;
  display: block;
  font-family: 'BaltoBookMedium', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #000000;
  width: 130px;
  height: 50px;
  padding: 15px;
  margin: 0px ;
  background-color: #FF6347;
}

.menu-open { /*wijzigt background color van menu in jQuery als toggleClass geactiveerd is*/
  background-color: #FFF5EE;
}

.menu-sidebar {
  padding-top: 100px;
}

.menu-wrap {
background-color: #E9967A;
position: fixed; /*of absolute*/
top: 0;
right: 0;
height: 100%;
width: 30%; /*aanpassen naar 130*/
margin-right: -30%  ; /*aanpassen naar -130*/
font-size: 1em; /*aanpassen naar 20px*/
font-weight: 700;
letter-spacing: 1.5px;
color: #ffffff;
overflow: hidden;
transition: .25s;
/*z-index: 10;*/
}

.menu-show { /*heeft betrekking op styling wanneer toggleClass geactiveerd is in jQuery*/
	margin-right: 0;
	box-shadow: 4px 2px 15px 1px #B9ADAD;
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

.bold_li {
  font-family: 'BaltoBookMedium', sans-serif;
}

.list_division {
  margin-top: 100px;
}

li a {
  color: #000000;
  text-decoration: none;
}

li a:hover {
  color: #FFF5EE;
}




.toggle-button {
  position: absolute;
  width: 30px;
  height: 40px;
  padding: 4px;
  margin-left: 5px;
  transition: .25s;
  z-index: 25;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

.toggle-button .menu-bar-top {
  border: 3px solid #000000;
  border-bottom: none;
  top: 1px;
}
.toggle-button .menu-bar-middle {
  height: 3px;
  background-color: #000000;
  margin-top: 3px;
  top: 5px;
}
.toggle-button .menu-bar-bottom {
  border: 3px solid #000000;
  border-top: none;
  top: 15px;
}

/*.button-open heeft betrekking op styling wanneer toggleClass geactiveerd is in jQuery*/
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(5px, 5px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: .5s;
}

/* Onderstaance SCSS als reference aanhouden
  .doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}*/
