@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'BaltoBook';
  src: url('../fonts/balto/baltoweb-book.eot');
  src: url('../fonts/balto/baltoweb-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookItalic';
  src: url('../fonts/balto/baltoweb-bookitalic.eot');
  src: url('../fonts/balto/baltoweb-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookMedium';
  src: url('../fonts/balto/baltoweb-medium.eot');
  src: url('../fonts/balto/baltoweb-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookBold';
  src: url('../fonts/balto/baltoweb-bold.eot');
  src: url('../fonts/balto/baltoweb-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* apply a natural box layout model to all elements, but allowing components to change
(Box Model, http://www.paulirish.com/2012/box-sizing-border-box-ftw/)*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html, .main, .sidebar {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-family: 'BaltoBook', sans-serif;
}

.logo {
  margin-left: 50px;
  width: 93px;
  height: 100px;
  z-index: 25;
  position: absolute;
  background-color: #000000;
    p {
      padding-top:40px;
      text-align: center;
      font-family: 'BaltoBookBold', sans-serif;
      color: #FF6347;
      font-size: 25px;
    } 
}

/* Onderstaance SCSS als reference aanhouden
  .doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}*/
