<header>
  <!--LOGO-->
  <a href="/">
    <div class="logo">
      <span class="logo-text">AT</span><span class="logo-img"><img src="images/heart.svg" alt="HOME"/></span>
    </div>
  </a>
<!--SEARCH  -->
  <div class="search">
    <form class="searchbox">
<!--input zoekveld-->
      <input type="text" placeholder="Ik ben op zoek naar..." name="search" class="searchbox-input" required>
 <!--Onderstaande is actief wanneer zoekveld gevuld is of op 'enter' wordt geklikt-->
      <input type="submit" class="searchbox-submit" value="ZOEK">
 <!--Soort van clone van input submit button, actief/zichtbaar wanneer zoekveld leeg is-->
      <span class="searchbox-icon"><img src="images/search2.svg" alt="ZOEK"/></span>
    </form>
  </div>

<!--MENU-->
  <div class="menu"><span class="menu-solo">MENU</span><span class="toggle-button">
    <div class="menu-bar menu-bar-top"></div>
    <div class="menu-bar menu-bar-middle"></div>
    <div class="menu-bar menu-bar-bottom"></div>
    </span>
  </div>

  <div class="menu-wrap">
    <div class="menu-sidebar">
      <ul class="menu-options">
        <li class="bold_li"><a href="#">HOME</a></li>
        <li><a href="#">Summae mihi videtur inscitiae</a></li>
        <li><a href="#">Itaque eos id agere</a></li>
        <li><a href="#">Bonum patria</a></li>
        <li><a href="#">Magni</a></li>
        <li><a href="#">Aestimabat pecuniam</a></li>
        <li><a href="#">Multoque hoc melius</a></li>
        <li class="list_division"><a href="#"></></li>
        <li><a href="#">Primum ducas</a></li>
        <li><a href="#">Quod est</a></li>
        <li><a href="#">Omnis enim est</a></li>
        <li><a href="#">Aristonem</a></li>
      </ul>
    </div>
  </div>
</header>
